
  body{
    background-color:#C3F8FF;
  }
  hr{
    width:3%;
    border-style:none;
    border-top-style:dotted;
    border-width: 7px;
    border-color: grey;
  }
  h1{
    color: #66BFBF;
    font-family:"Georgia",serif ;
  }
  h3{
    color:#66BFBF;
    font-family:"Georgia",serif ;
  }
  a:link{
    color: #66BFBF;
    font-family:"Georgia",serif ;
  }
  a:visited{
    color:#669abf;
  }
